# copy this file as .secrets.env (DO NOT ADD IT INTO GIT REPO!) and fill in your secrets
## General
ETHERSCAN_APIKEY=<the Etherscan API key for source verification>
POLYGONSCAN_APIKEY=<the Polygonscan API key for source verification>

## Ethereum mainnet
ALCHEMY_MAINNET_APIKEY=<mandatory, Alchemy API key for mainnet app>
MAINNET_DEPLOYER_HDPATH=<the HD path for signing the Mainnet contract operations, must be an owner in MAINNET_DEPLOYER_ADDRESS>
MAINNET_DEPLOYER_ADDRESS=<the Mainnet multi-sig address>

## Ethereum Rinkeby testnet
ALCHEMY_RINKEBY_APIKEY=<mandatory, Alchemy API key for Rinkeby app>
RINKEBY_DEPLOYER_HDPATH=<the HD path for signing the Rinkeby contract operations, must be an owner in RINKEBY_DEPLOYER_ADDRESS>
RINKEBY_DEPLOYER_ADDRESS=<the Rinkeby multi-sig address>

## Ethereum Ropsten testnet
ALCHEMY_ROPSTEN_APIKEY=<mandatory, Alchemy API key for ropsten app>
ROPSTEN_DEPLOYER_PRIVATE_KEY=<the private key for signing the Ropsten contract deployment>

## Ethereum Goerli testnet
ALCHEMY_GOERLI_APIKEY=<mandatory, Alchemy API key for Goerli app>
GOERLI_DEPLOYER_PRIVATE_KEY=<the private key for signing the Goerli contract deployment>

## Polygon mainnet
ALCHEMY_POLYGON_APIKEY=<mandatory, Alchemy API key for Polygon app>
POLYGON_DEPLOYER_PRIVATE_KEY=<the private key for signing the Polygon contract deployment>

## Polygon Mumbai testnet
ALCHEMY_MUMBAI_APIKEY=<mandatory, Alchemy API key for Polygon Mumbai app>
MUMBAI_DEPLOYER_PRIVATE_KEY=<the private key for signing the Polygon contract deployment>
